.title {
  text-align: center;
  letter-spacing: -4px;
  hr {
    margin: 5px 0;
    border-color: #0e0e0e;
  }
  h1 {
    font-weight: 900;
    font-size: 100px;
    margin: 0;
    text-transform: uppercase;
    line-height: 80px;
    pointer-events: none;
    @media screen and (max-width: 478px) {
      font-size: 60px;
      line-height: 60px;
    }
  }
  small {
    letter-spacing: 10px;
    text-transform: uppercase;

    @media screen and (max-width: 478px) {
      font-size: 10px;
      letter-spacing: 6px;
    }
  }
}
