.container {
  margin: 16px 0;
  .menu {
    display: flex;
    @media screen and (max-width: 478px) {
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .item {
      list-style-type: none;
      border-right: 1px solid grey;
      padding: 0 8px;

      .link {
        color: white;
        text-decoration: none;
        &:hover {
          color: aqua;
        }
      }
    }
  }
}
