
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  background-color: #121212;font-family: 'Poppins', sans-serif;
  color: white;
// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}
